* text=auto

node_modules/** linguist-vendored=true
src/scripts/js/** linguist-generated=true
src/styles/css/** linguist-generated=true

*.vdf linguist-detectable=true
*.res linguist-detectable=true linguist-language=vdf
*.vmt linguist-detectable=true linguist-language=vdf

.gitattributes export-ignore
.gitignore export-ignore