@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.testbg {
        background-color: rgb(255, 0, 255);
}

// FONTS
@mixin font-roboto {
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
}
.font-roboto {
        @include font-roboto();
}
.font-montserrat {
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100;
}
.font-poppins {
        font-weight: 900;
        font-family: "Poppins", sans-serif;
        font-optical-sizing: auto;
        font-style: italic;
        font-variation-settings: "wdth" 100;
}

body {
        margin: 0;
        background-image: url("../images/items_bg.webp");
        background-size: cover;
        background-attachment: fixed;

        display: grid;
        grid-template-columns: 200px 3fr 1fr;

        nav {
                background-color: rgba(17, 20, 20, 0.8);

                button {
                        margin-left: 0px;
                        width: 100%;
                        padding: 10px;
                        margin: 1px 0px 1px 0px;
                        font-size: 1.1rem;
                        font-weight: 700;
                        border: none;
                        border-radius: 4px;
                        background-color: rgb(16, 17, 17);
                        color: white;
                }
                #about button {
                        color: rgb(174, 178, 178);
                }
                button:hover {
                        background-color: rgb(81, 181, 182) !important;
                        color: black !important;
                }
                #menuitems {
                        list-style-type: none;
                        padding: 0px;
                }
        }

        // Customization Options
        main {
                background-color: rgba(0, 0, 0, 0.8);
                h1 {
                        margin: 1%;
                        color: rgb(174, 178, 178);

                        @include font-roboto();
                        font-size: 4rem;

                        border-width: 0.2rem;
                        border-bottom-style: solid;
                        border-color: rgb(104, 101, 100);
                }
                h2 {
                        padding-left: 1rem;
                        margin-bottom: 9px;
                        color: rgb(174, 178, 178);

                        @include font-roboto();
                        font-size: 2rem;
                }
                h3 {
                        margin-bottom: 9px;
                        margin-top: 9px;
                        color: rgb(174, 178, 178);

                        @include font-roboto();
                        font-size: 1.7rem;
                }
                label {
                        color: rgb(174, 178, 178);

                        @include font-roboto();
                        font-size: 1.5rem;
                }

                form {
                        display: grid;
                        grid-template-columns: 1fr 1fr;

                        .options-container {
                                // background-color: olive;
                                padding: 1rem;
                        }
                        .colors-container {
                                display: grid;
                                grid-template-columns: max-content;
                                grid-auto-rows: max-content;
                                gap: 0.3rem;
                                align-content: start;

                                * {
                                        margin: 0;
                                }
                        }
                        .range-container {
                                display: grid;
                                grid-template-columns: 3rem 1fr 3rem;
                                grid-template-rows: 2rem;
                                align-items: center;

                                .range-text {
                                        text-align: center;
                                        height: 1.7rem;
                                }
                                .range-sliders {
                                        margin-left: 0.3rem;
                                        margin-right: 0.3rem;
                                        display: grid;
                                        grid-template-columns: subgrid;
                                        grid-template-rows: subgrid;
                                        justify-items: center;
                                        align-items: center;

                                        * {
                                                width: 100%;
                                                grid-row: 2 / span 1;
                                                grid-column: 1 / span 1;
                                        }
                                }
                        }

                        #option_position {
                                display: grid;
                                grid-template-columns: max-content max-content;
                                grid-template-rows: max-content max-content max-content;
                        }
                }
                button {
                        color: white;
                        background-color: rgb(104, 101, 100);
                        width: 180px;
                        height: 80px;
                }
                select {
                        color: white;
                        background-color: rgb(104, 101, 100);
                        width: 180px;
                        height: 40px;
                }
                .checkbox {
                        display: block;
                        position: relative;
                        padding-left: 35px;
                        margin-bottom: 0px;
                        cursor: pointer;
                        user-select: none;
                }

                // Hide the browser's default checkbox
                .checkbox input {
                        position: absolute;
                        opacity: 0;
                        cursor: pointer;
                        height: 0;
                        width: 0;
                        z-index: 1;
                }

                // Create a custom checkbox
                .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 25px;
                        width: 25px;
                        z-index: 0;
                        background-color: #eee;
                }

                // On mouse-over, add a grey background color
                .checkbox:hover input ~ .checkmark {
                        background-color: #ccc;
                }

                // When the checkbox is checked, add a blue background
                .checkbox input:checked ~ .checkmark {
                        background-color: #2196f3;
                }

                // Create the checkmark/indicator (hidden when not checked)
                .checkmark:after {
                        content: "";
                        position: absolute;
                        display: none;
                }

                // Show the checkmark when checked
                .checkbox input:checked ~ .checkmark:after {
                        display: block;
                }

                // Style the checkmark/indicator
                .checkbox .checkmark:after {
                        left: 9px;
                        top: 5px;
                        width: 5px;
                        height: 10px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                }

                // Position Customization
                input#ypos {
                        height: 360px;
                        margin: 0;
                        writing-mode: vertical-lr;
                        width: 16px;
                }
                input#xpos {
                        width: 100%;
                        margin: 0;
                        vertical-align: bottom;
                }
                #markerbounds {
                        cursor: move;

                        width: 640px;
                        height: 360px;
                        background-color: rgb(150, 230, 255);
                        position: relative;
                }
                img {
                        height: 100%;
                        width: 100%;
                        object-fit: contain;
                        position: absolute;
                }
                input[type="file"] {
                        visibility: hidden;
                }
                #imageupload_container {
                        right: 0;
                        margin: 5px;
                        position: absolute;
                        cursor: pointer;

                        height: 40px;
                        width: 40px;
                }
                #marker {
                        top: calc(60% - 26px);
                        left: calc(50% - 26px);
                        // width: 54px;
                        // height: 54px;
                        position: absolute;

                        background-color: rgba(35, 125, 235, 0.623);
                }
                #xhair {
                        top: calc(50% - 2px);
                        left: calc(50% - 2px);
                        width: 4px;
                        height: 4px;
                        position: absolute;

                        // Turn into crosshair shape
                        // border-radius: 1.5px;
                        // corner-shape: notch;

                        background-color: rgb(0, 255, 221);
                }
                // Range Sliders
                input[type="range"].dual {
                        pointer-events: none;
                        appearance: none;
                        background-color: transparent;
                }
                input[type="range"].dual::-webkit-slider-thumb {
                        pointer-events: auto;
                        -webkit-appearance: none;
                        cursor: pointer;
                        background-color: #3264fe;

                        width: 7px;
                        height: 25px;
                        position: relative;

                        &:active {
                                background-color: white;
                                border: 1px solid #3264fe;
                        }
                }
                .slider-track {
                        height: 0.3rem;
                        pointer-events: none;
                        border-radius: 5px;
                }
        }

        // Speedo Preview
        aside {
                height: 100vh;
                height: 100dvh;
                position: sticky;
                align-self: start;
                top: 0;

                display: grid;
                grid-template-columns: 300px;
                grid-template-rows: max-content max-content max-content max-content;
                justify-content: center;
                align-content: center;

                .slot_1 {
                        grid-row: 1 / 2;
                }
                .slot_2 {
                        grid-row: 2 / 3;
                }
                .slot_3 {
                        grid-row: 3 / 4;
                }
                .slot_4 {
                        grid-row: 4 / 5;
                }
                .speedo {
                        grid-column: 1 / 2;
                        color: white;
                        text-align: center;
                }
                .shadow {
                        margin-top: 0.3rem;
                        margin-left: 0.3rem;
                        color: rgba(0, 0, 0, 0.8) !important;
                        z-index: -1;
                }
                .speedo-size-small {
                        font-size: 2rem !important;
                }
                .speedo-size-medium {
                        font-size: 3rem !important;
                }
                .speedo-size-large {
                        font-size: 4rem !important;
                }
        }
}

.col-span-2 {
        grid-column-end: span 2;
}
.col-span-3 {
        grid-column-end: span 3;
}
// Need this to always be at the bottom to overwrite all other properties
.hidden {
        // display: none;
        visibility: hidden;
}
