@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

$text-color: rgb(133, 133, 133);
$text-color-light: rgb(255, 255, 255);
$btn-color: rgb(104, 104, 104);
$border-light: rgb(84, 84, 84);
$border-dark: black;
$main-padding: 2vw;
$main-min-width: 600px;

.testbg {
        background-color: rgb(255, 0, 255);
}

* {
        margin: 0;
}

// FONTS
@mixin font-roboto {
        font-style: normal;
        font-weight: 900;
        font-family: "Roboto", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings: "wdth" 100;
}
.font-roboto {
        @include font-roboto();
}
.font-montserrat {
        font-style: normal;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings: "wdth" 100;
}
.font-poppins {
        font-style: italic;
        font-weight: 900;
        font-family: "Poppins", sans-serif;
        font-optical-sizing: auto;
        font-variation-settings: "wdth" 100;
}

body {
        display: grid;
        grid-template-columns: clamp(120px, 15%, 200px) 3fr 1fr;
        margin: 0;
        background-image: url("../images/items_bg.webp");
        background-size: cover;
        background-attachment: fixed;

        nav {
                background-color: rgba(17, 20, 20, 0.8);

                button {
                        margin: 1px 0px 1px 0px;
                        margin-left: 0px;
                        border: none;
                        border-radius: 4px;
                        background-color: rgb(16, 17, 17);
                        padding: 10px;
                        width: 100%;
                        color: $text-color-light;
                        font-weight: 700;
                        font-size: 1.1rem;
                }
                #about button {
                        color: $text-color;
                }
                button:hover {
                        background-color: rgb(81, 181, 182) !important;
                        color: black !important;
                }
                #menuitems {
                        padding: 0px;
                        list-style-type: none;
                }
        }

        // Customization Options
        main {
                background-color: rgba(0, 0, 0, 0.8);
                padding-right: $main-padding;
                padding-left: $main-padding;

                @media only screen and (max-width: 1550px) {
                        min-width: $main-min-width;
                }
                .top-bar {
                        position: sticky;
                        top: 0;
                        z-index: 1;
                        margin: 0;
                        margin-right: -$main-padding;
                        margin-left: -$main-padding;

                        h1 {
                                margin: 0;
                                color: rgb(174, 178, 178);

                                @include font-roboto();

                                backdrop-filter: blur(5px);

                                border-width: 0.2rem;
                                border-bottom-style: solid;
                                border-color: $btn-color;
                                background-color: rgba(0, 0, 0, 0.384);
                                font-size: 4rem;
                        }
                        #top-bar-buttons {
                                display: flex;
                        }
                        button,
                        #fake-upload-btn {
                                all: initial;

                                flex-basis: 180px;
                                float: right;

                                border: solid;
                                border-width: 2px;
                                border-color: $border-light $border-dark $border-dark $border-light;
                                background-color: $btn-color;

                                padding-inline: 6px;
                                padding-block: 1px;
                                height: 2.2rem;

                                color: $text-color-light;

                                font-size: 0.85rem;
                                @include font-roboto();

                                align-content: center;
                                text-align: center;

                                &:active {
                                        border-color: $border-dark $border-light $border-light $border-dark;
                                }
                                input {
                                        width: 0;
                                        height: 0;
                                }
                        }
                }
                h2 {
                        margin-bottom: 9px;
                        color: $text-color;

                        @include font-roboto();
                        font-size: 2rem;
                }
                h3 {
                        margin-top: 9px;
                        margin-bottom: 9px;
                        color: $text-color;

                        @include font-roboto();
                        font-size: 1.7rem;
                }
                label {
                        color: $text-color;

                        @include font-roboto();
                        font-size: 1.5rem;
                }

                form {
                        display: grid;
                        grid-template-columns: minmax(340px, 33%) clamp(40rem, 67%, 100%);
                        width: 100%;
                        @media only screen and (max-width: 1550px) {
                                grid-template-columns: max($main-min-width, 100%);
                                // justify-items: start;
                                // > * {
                                //         justify-content: center;
                                //         margin-right: auto !important;
                                //         margin-left: auto !important;
                                //         width: calc(100% - 3.5rem);
                                // }
                        }
                        .colors-container {
                                display: grid;
                                grid-template-columns: max-content;
                                grid-auto-rows: max-content;
                                align-content: start;
                                gap: 0.3rem;

                                * {
                                        margin: 0;
                                }
                        }
                        .range-container {
                                display: grid;
                                grid-template-rows: 2rem;
                                grid-template-columns: 3rem 1fr 3rem;
                                align-items: center;

                                .range-text {
                                        background-color: $btn-color;
                                        height: 1.7rem;
                                        color: $text-color-light;
                                        text-align: center;
                                }
                                .range-slider {
                                        display: grid;
                                        grid-template-rows: subgrid;
                                        grid-template-columns: subgrid;
                                        align-items: center;
                                        justify-items: center;
                                        margin-right: 0.3rem;
                                        margin-left: 0.3rem;

                                        * {
                                                grid-row: 2 / span 1;
                                                grid-column: 1 / span 1;
                                                width: 100%;
                                        }
                                }
                        }

                        #option_position {
                                display: grid;
                                grid-template-rows: max-content 1fr max-content;
                                grid-template-columns: max-content 1fr;
                        }
                        #position_preview {
                                aspect-ratio: 16 / 9;
                                width: 100%;
                        }
                }
                button {
                        background-color: $btn-color;
                        width: 180px;
                        height: 80px;
                        color: $text-color-light;
                }
                select {
                        background-color: $btn-color;
                        width: 180px;
                        height: 40px;
                        color: white;
                }
                .checkbox {
                        display: block;
                        position: relative;
                        cursor: pointer;
                        margin-bottom: 0px;
                        padding-left: 35px;
                        user-select: none;
                }

                // Hide the browser's default checkbox
                .checkbox input {
                        position: absolute;
                        opacity: 0;
                        z-index: 1;
                        cursor: pointer;
                        width: 0;
                        height: 0;
                }

                // Create a custom checkbox
                .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 0;
                        background-color: #eee;
                        width: 25px;
                        height: 25px;
                }

                // On mouse-over, add a grey background color
                .checkbox:hover input ~ .checkmark {
                        background-color: #ccc;
                }

                // When the checkbox is checked, add a blue background
                .checkbox input:checked ~ .checkmark {
                        background-color: #2196f3;
                }

                // Create the checkmark/indicator (hidden when not checked)
                .checkmark:after {
                        display: none;
                        position: absolute;
                        content: "";
                }

                // Show the checkmark when checked
                .checkbox input:checked ~ .checkmark:after {
                        display: block;
                }

                // Style the checkmark/indicator
                .checkbox .checkmark:after {
                        top: 5px;
                        left: 9px;
                        border: solid white;
                        border-width: 0 3px 3px 0;
                        width: 5px;
                        height: 10px;
                        -webkit-transform: rotate(45deg);
                        -ms-transform: rotate(45deg);
                        transform: rotate(45deg);
                }

                // Position Customization
                #markerbounds {
                        position: relative;
                        cursor: move;
                        background-color: rgb(150, 230, 255);

                        width: 100%;
                        height: 100%;
                }
                img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                }
                input#ypos {
                        margin: 0;
                        width: 16px;
                        height: 100%;
                        writing-mode: vertical-lr;
                }
                input#xpos {
                        vertical-align: bottom;
                        margin: 0;
                        width: 100%;
                }

                input[type="file"] {
                        visibility: hidden;
                }
                #imageupload_container {
                        position: absolute;
                        right: 0;
                        cursor: pointer;
                        margin: 5px;
                        width: 40px;

                        height: 40px;
                }
                #marker {
                        position: absolute;

                        background-color: rgba(35, 125, 235, 0.623);
                }
                #xhair {
                        position: absolute;
                        top: calc(50% - 2px);
                        left: calc(50% - 2px);

                        // Turn into crosshair shape
                        // border-radius: 1.5px;
                        // corner-shape: notch;

                        background-color: rgb(0, 255, 221);
                        width: 4px;
                        height: 4px;
                }
                // Range Sliders
                input[type="range"].dual {
                        appearance: none;
                        background-color: transparent;
                        pointer-events: none;
                }
                input[type="range"].dual::-webkit-slider-thumb {
                        pointer-events: auto;
                        -webkit-appearance: none;
                        position: relative;
                        cursor: pointer;
                        background-color: #3264fe;

                        width: 7px;
                        height: 25px;

                        &:active {
                                border: 1px solid #3264fe;
                                background-color: white;
                        }
                }
                .slider-track {
                        border-radius: 5px;
                        height: 0.3rem;
                        pointer-events: none;
                }
        }

        // Speedo Preview
        aside {
                display: grid;
                position: sticky;
                top: 0;
                grid-template-rows: max-content max-content max-content max-content;
                grid-template-columns: max-content;
                align-content: center;
                justify-content: center;
                align-self: start;
                height: 100vh;
                height: 100dvh;

                .slot_1 {
                        grid-row: 1 / 2;
                }
                .slot_2 {
                        grid-row: 2 / 3;
                }
                .slot_3 {
                        grid-row: 3 / 4;
                }
                .slot_4 {
                        grid-row: 4 / 5;
                }
                .speedo {
                        grid-column: 1 / 2;
                        color: white;
                        text-align: center;
                }
                .shadow {
                        $shadow-depth: 4px;
                        z-index: -1;
                        margin-top: $shadow-depth;
                        margin-left: $shadow-depth;
                        color: rgba(0, 0, 0, 0.8) !important;
                }
                .speedo-size-small {
                        font-size: 2rem !important;
                }
                .speedo-size-medium {
                        font-size: 3rem !important;
                }
                .speedo-size-large {
                        font-size: 4rem !important;
                }
        }
}

.col-span-all {
        grid-column: 1 / -1;
}
// Need this to always be at the bottom to overwrite all other properties
.hidden {
        // display: none;
        visibility: hidden;
}
