@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.testbg {
  background-color: rgb(255, 0, 255);
}

* {
  margin: 0;
}

.font-roboto {
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.font-montserrat {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.font-poppins {
  font-style: italic;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

.disclaimer {
  color: red;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
}

body {
  display: grid;
  grid-template-columns: clamp(120px, 15%, 200px) 3fr 1fr;
  margin: 0;
  background-image: url("../images/items_bg.webp");
  background-size: cover;
  background-attachment: fixed;
}
body nav {
  min-height: 100vh;
  min-height: 100dvh;
  background-color: rgba(17, 20, 20, 0.8);
}
body nav button {
  margin: 1px 0px 1px 0px;
  margin-left: 0px;
  border: none;
  border-radius: 4px;
  background-color: rgb(16, 17, 17);
  padding: 10px;
  width: 100%;
  color: rgb(245, 250, 251);
  font-weight: 700;
  font-size: 1.1rem;
}
body nav #about button {
  color: rgb(148, 150, 151);
}
body nav button:hover {
  background-color: rgb(81, 181, 182) !important;
  color: black !important;
}
body nav #menuitems {
  padding: 0px;
  list-style-type: none;
}
body main {
  background-color: rgba(0, 0, 0, 0.8);
  padding-right: 2vw;
  padding-left: 2vw;
  min-width: 1115px;
}
@media only screen and (max-width: 1550px) {
  body main {
    min-width: 600px;
  }
}
body main .top-bar {
  position: sticky;
  top: 0;
  z-index: 1;
  margin: 0;
  margin-right: -2vw;
  margin-left: -2vw;
}
body main .top-bar h1 {
  margin: 0;
  color: rgb(174, 178, 178);
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-width: 0.2rem;
  border-bottom-style: solid;
  border-color: rgb(104, 104, 104);
  background-color: rgba(0, 0, 0, 0.384);
  font-size: 4rem;
  text-transform: uppercase;
}
body main .top-bar #top-bar-buttons {
  display: flex;
}
body main .top-bar button,
body main .top-bar .fake-upload-btn {
  all: initial;
  flex-basis: 180px;
  float: right;
  border: solid;
  border-width: 2px;
  border-color: rgb(84, 84, 84) black black rgb(84, 84, 84);
  background-color: rgb(104, 104, 104);
  padding-inline: 6px;
  padding-block: 1px;
  height: 2.2rem;
  color: rgb(245, 250, 251);
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  align-content: center;
  text-align: center;
}
body main .top-bar button:active,
body main .top-bar .fake-upload-btn:active {
  border-color: black rgb(84, 84, 84) rgb(84, 84, 84) black;
}
body main .top-bar button input,
body main .top-bar .fake-upload-btn input {
  width: 0;
  height: 0;
}
body main form {
  display: grid;
  grid-template-columns: minmax(340px, 33%) clamp(40rem, 67%, 100%);
  gap: 1rem;
  width: 100%;
}
@media only screen and (max-width: 1550px) {
  body main form {
    grid-template-columns: max(600px, 100%);
  }
}
body main form .options-container {
  background-color: rgba(47, 47, 47, 0.3);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 0.3rem;
}
body main form .options-container label {
  color: rgb(245, 250, 251);
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 1.5rem;
}
body main form .option-container {
  margin-bottom: 0.5rem;
}
body main form h2 {
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
  color: rgb(245, 250, 251);
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 2rem;
  border-width: 0.2rem;
  border-bottom-style: solid;
  border-color: rgba(255, 255, 255, 0.268);
  text-transform: uppercase;
}
body main form h3 {
  margin-top: 9px;
  margin-bottom: 9px;
  color: rgb(245, 250, 251);
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 1.7rem;
  text-transform: uppercase;
}
body main form .presets-container {
  display: flex;
}
body main form .colors-container {
  display: grid;
  grid-template-columns: max-content;
  grid-auto-rows: max-content;
  align-content: start;
  gap: 0.3rem;
}
body main form .colors-container * {
  margin: 0;
}
body main form .range-container {
  display: grid;
  grid-template-rows: 2rem;
  grid-template-columns: 3rem 1fr 3rem;
  align-items: center;
}
body main form .range-container .range-text {
  background-color: rgb(104, 104, 104);
  height: 1.7rem;
  color: rgb(245, 250, 251);
  text-align: center;
}
body main form .range-container .range-slider {
  display: grid;
  grid-template-rows: subgrid;
  grid-template-columns: subgrid;
  align-items: center;
  justify-items: center;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
}
body main form .range-container .range-slider * {
  grid-row: 2/span 1;
  grid-column: 1/span 1;
  width: 100%;
}
body main form #option_position {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: max-content 1fr;
}
body main form #option_position .option_position_header {
  display: flex;
  flex-direction: row;
}
body main form #option_position .option_position_header h3 {
  flex-grow: 1;
}
body main form #option_position .option_position_header button {
  width: 5rem;
  height: auto;
}
body main form #option_position input#ypos {
  margin: 0;
  width: 16px;
  height: 100%;
  writing-mode: vertical-lr;
}
body main form #option_position input#xpos {
  vertical-align: bottom;
  margin: 0;
  width: 100%;
}
body main form #option_position #position_preview {
  aspect-ratio: 16/9;
  width: 100%;
}
body main form #option_position #position_preview #markerbounds {
  position: relative;
  cursor: move;
  width: 100%;
  height: 100%;
}
body main form #option_position #position_preview #markerbounds img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body main form #option_position #position_preview #markerbounds #imageupload_container {
  position: absolute;
  right: 0;
  cursor: pointer;
  margin: 5px;
  width: 40px;
  height: 40px;
}
body main form #option_position #position_preview #markerbounds #imageupload_container input[type=file] {
  visibility: hidden;
}
body main form #option_position #position_preview #markerbounds #marker {
  position: absolute;
}
body main form #option_position #position_preview #markerbounds #marker > * {
  z-index: 1;
}
body main form #option_position #position_preview #markerbounds #xhair {
  position: absolute;
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  background-color: rgb(0, 255, 221);
  width: 4px;
  height: 4px;
}
body main form #upload-font-container {
  margin-top: 0;
  cursor: pointer;
  width: auto;
  height: auto;
}
body main form #upload-font-container input {
  width: 0;
  height: 0;
}
body main form #upload-font-container img {
  margin-top: -3rem;
  top: 1.2rem;
  position: relative;
  width: 3rem;
  height: 3rem;
  -o-object-fit: contain;
     object-fit: contain;
}
body main button {
  background-color: rgb(104, 104, 104);
  width: 180px;
  height: 80px;
  color: rgb(245, 250, 251);
  font-style: normal;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  font-size: 1rem;
}
body main select {
  background-color: rgb(104, 104, 104);
  width: 180px;
  height: 40px;
  color: white;
}
body main .checkbox {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
  padding-left: 35px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
body main .checkbox input {
  position: absolute;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
  width: 0;
  height: 0;
}
body main .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: #eee;
  width: 25px;
  height: 25px;
}
body main .checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
body main .checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}
body main .checkmark:after {
  display: none;
  position: absolute;
  content: "";
}
body main .checkbox input:checked ~ .checkmark:after {
  display: block;
}
body main .checkbox .checkmark:after {
  top: 5px;
  left: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  width: 5px;
  height: 10px;
  transform: rotate(45deg);
}
body main input[type=range].dual {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  pointer-events: none;
}
body main input[type=range].dual::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  position: relative;
  cursor: pointer;
  background-color: #3264fe;
  width: 7px;
  height: 25px;
}
body main input[type=range].dual::-webkit-slider-thumb:active {
  border: 1px solid #3264fe;
  background-color: white;
}
body main .slider-track {
  border-radius: 5px;
  height: 0.3rem;
  pointer-events: none;
}
body .speedo-container {
  display: grid;
  position: sticky;
  grid-template-rows: max-content max-content max-content max-content;
  grid-template-columns: max-content;
  align-content: center;
  justify-content: center;
  container-type: size;
}
body .speedo-container .slot_1 {
  grid-row: 1/2;
}
body .speedo-container .slot_2 {
  grid-row: 2/3;
}
body .speedo-container .slot_3 {
  grid-row: 3/4;
}
body .speedo-container .slot_4 {
  grid-row: 4/5;
}
body .speedo-container .speedo {
  grid-column: 1/2;
  color: white;
  text-align: center;
  font-size: 19cqh;
}
body .speedo-container .shadow {
  color: rgba(0, 0, 0, 0.8) !important;
}
body aside.speedo-size-small {
  height: 14.44dvh !important;
  height: 14.44dvh !important;
}
body aside.speedo-size-medium {
  height: 20dvh !important;
  height: 20dvh !important;
}
body aside.speedo-size-large {
  height: 23.33dvh !important;
  height: 23.33dvh !important;
}
body aside .shadow {
  margin-top: 4px;
  margin-left: 4px;
  z-index: -1;
}
body #marker .shadow {
  margin-top: 2px;
  margin-left: 2px;
  z-index: 0 !important;
}
body aside {
  top: 30vh;
  align-self: start;
  height: 20vh;
  height: 20dvh;
}

.col-span-all {
  grid-column: 1/-1;
}

.hidden {
  visibility: hidden;
}/*# sourceMappingURL=speedo-generator.css.map */