@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.testbg {
  background-color: rgb(255, 0, 255);
}

body {
  background-image: url("../images/items_bg.webp");
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
}

/* Nav */
nav {
  width: 205px;
  min-width: 180px;
  background-color: rgba(17, 20, 20, 0.8);
}
nav button {
  margin-left: 0px;
  width: 100%;
  padding: 10px;
  margin: 1px 0px 1px 0px;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  background-color: rgb(16, 17, 17);
  color: white;
}
nav #about button {
  color: rgb(174, 178, 178);
}
nav button:hover {
  background-color: rgb(81, 181, 182) !important;
  color: black !important;
}
nav #menuitems {
  list-style-type: none;
  padding: 0px;
}

/* Customization Options */
main {
  max-width: 1200px;
  min-width: 700px;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: start;
  justify-content: start;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
  /* Position Customization */
  /* Range Sliders */
}
main h1 {
  margin: 1%;
  color: rgb(174, 178, 178);
  font-size: 4rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position: relative;
  z-index: 0;
}
main h2 {
  color: rgb(174, 178, 178);
  font-size: 2rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position: relative;
  z-index: 0;
}
main label {
  color: rgb(174, 178, 178);
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position: relative;
  z-index: 0;
}
main .option_container {
  margin-bottom: 10px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
main .option_container button {
  color: white;
  background-color: rgb(104, 101, 100);
  width: 180px;
  height: 80px;
}
main select {
  color: white;
  background-color: rgb(104, 101, 100);
  width: 180px;
  height: 40px;
}
main .checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  z-index: 1;
}
main .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  z-index: 0;
  background-color: #eee;
}
main .checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}
main .checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
main .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
main .checkbox input:checked ~ .checkmark:after {
  display: block;
}
main .checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
main input#ypos {
  height: 360px;
  margin-right: 5px;
  writing-mode: vertical-lr;
  width: 16px;
}
main input#xpos {
  width: 640px;
  margin-left: 23px;
  vertical-align: bottom;
}
main #markerbounds {
  cursor: move;
  width: 640px;
  height: 360px;
  background-color: rgb(150, 230, 255);
  position: relative;
}
main img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
}
main input[type=file] {
  visibility: hidden;
}
main #imageupload_container {
  right: 0;
  margin: 5px;
  position: absolute;
  cursor: pointer;
  height: 40px;
  width: 40px;
}
main #marker {
  top: calc(60% - 26px);
  left: calc(50% - 26px);
  width: 52px;
  height: 52px;
  position: absolute;
  background-color: rgba(35, 125, 235, 0.623);
}
main #xhair {
  top: calc(50% - 2px);
  left: calc(50% - 2px);
  width: 4px;
  height: 4px;
  position: absolute;
  /* Turn into crosshair shape
  border-radius: 1.5px;
  corner-shape: notch;
  */
  background-color: rgb(0, 255, 221);
}
main .range-sliders {
  position: relative;
  width: 500px;
}
main .range-text {
  position: relative;
  left: 510px;
  width: 200px;
}
main input[type=range].dual {
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
}
main input[type=range].dual::-webkit-slider-thumb {
  pointer-events: auto;
  -webkit-appearance: none;
  height: 1.5em;
  width: 1.5em;
  cursor: pointer;
  background-color: #3264fe;
  margin-top: -2px;
  border-radius: 50%;
}
main input[type=range].dual::-webkit-slider-thumb :active {
  background-color: white;
  border: 1px solid #3264fe;
}
main input[type=text] {
  width: 48%;
}

/* Speedo Preview */
aside {
  width: 30%;
  max-width: 800px;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  /*
  background-color: rgba(0, 0, 0, 0.2);
  */
}
aside .speedo {
  color: white;
  text-align: center;
  height: 45px;
}
aside .speedo-size-small {
  font-size: 2rem;
  height: 30px;
}
aside .speedo-size-small.shadow {
  margin-top: -30px;
}
aside .speedo-size-medium {
  font-size: 3rem;
  height: 45px;
}
aside .speedo-size-medium.shadow {
  margin-top: -45px;
}
aside .speedo-size-large {
  font-size: 4rem;
  height: 60px;
}
aside .speedo-size-large.shadow {
  margin-top: -60px;
}
aside .font-roboto {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position: relative;
  z-index: 0;
}
aside .font-montserrat {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  position: relative;
  z-index: 0;
}
aside .font-poppins {
  font-size: 3rem;
  font-weight: 900;
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-style: italic;
  font-variation-settings: "wdth" 100;
  position: relative;
  z-index: 0;
}
aside .shadow {
  color: rgba(0, 0, 0, 0.8) !important;
  margin-top: -45px;
  padding-top: 4px;
  padding-left: 4px;
  position: relative;
  z-index: -1;
}

/* Util */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-33 {
  flex-basis: 31%;
  margin-left: 1%;
  margin-right: 1%;
}

.flex-50 {
  flex-basis: 48%;
  margin-left: 1%;
  margin-right: 1%;
}

.flex-66 {
  flex-basis: 64%;
  margin-left: 1%;
  margin-right: 1%;
}

.flex-100 {
  flex-basis: 98%;
  margin-left: 1%;
  margin-right: 1%;
}

.flex-break {
  flex-basis: 100%;
  height: 0;
}

/* Need this to always be at the bottom to overwrite all other properties */
.hidden {
  /*
  display: none;
  */
  visibility: hidden;
}/*# sourceMappingURL=speedo-generator.css.map */